.bannerContainer {
  height: 400px;
  position: relative;
}
.bannerSection {
  overflow: hidden;
  margin: auto;
  width: 100%;
  height: 100%;
  transition: height 0.15s ease-in;
}

.textOnBanner {
  position: absolute;
  color: white;
  left: 4%;
  top: 20%;
  .title {
    font-size: 4rem;
    font-weight: bold;
  }
  .subTitle {
    font-size: 3rem;
  }
  .description {
    font-size: 1rem;
    max-width: 600px;
  }
}

.peakImage {
  position: absolute;
  left: 63%;
  width: 32%;
  height: 53%;
  top: 22%;
}

@media only screen and (max-width: 914px) {

  .peakImage {
    position: absolute;
    left: 15%;
    width: 70%;
    height: 50%;
    top: 70%;
  }
  .isSmallDevice {
    display: none;
  }
  .textOnBanner {
    top: 0;
  }
}
