.bannerContainer {
  height: 360px;
  position: relative;
}
.bannerSection {
  overflow: hidden;
  margin: auto;
  width: 100%;
  height: 100%;
  transition: height 0.15s ease-in;
}

.textOnBanner {
  position: absolute;
  color: white;
  left: 4%;
  top: 20%;
  .title {
    font-size: 4rem;
    font-weight: bold;
  }
  .subTitle {
    font-size: 3rem;
  }
  .description {
    font-size: 1rem;
    max-width: 768px;
  }
}

.peakImage {
  position: absolute;
  left: 70%;
  width: 30%;
  height: 70%;
  top: 10%;
}

@media only screen and (max-width: 768px) {

  .peakImage {
    position: absolute;
    left: 15%;
    width: 70%;
    height: 50%;
    top: 70%;
    margin-bottom: 1rem;
  }
  .isSmallDevice {
    display: none;
  }
  .textOnBanner {
    top: 0;
  }
}
