@import "../../mixins.scss";

.footerWrapper {
    background-color: $dark-color;
    // position: fixed;
    // left: 0;
    // bottom: 0;
    // width: 100%;
    color: rgb(226, 222, 222);
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    font-weight: 100;
}
.footerHead {
    font-weight: bold;
    font-size: 1.2rem;
}


.dFlex {
    display: flex;
}

.dBlock {
    display: block;
}

.footerContent {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
}

.footerText {
    display: block;
    padding: 1rem;
    text-align: left;
}

@media only screen and (max-width: 768px) {
    .footerContent {
        display: block;
    }

    .footerText {
        text-align: center;
    }
}