.container-fluid {
  height: 100%;
}
.d-flex {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 51%;
  text-align: center;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 2rem;
}
.cards {
  margin-bottom: 2rem;
  padding: 0.8rem;
  background: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 3px;
  color: #ffffff;
  width: 350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card {
  padding: 4rem;
  border: 1px solid #ffffff;
  border-radius: 3px;
  font-size: 2rem;
}
.d-flex .cards:nth-child(1) .card {
  background: #35d3b4;
}

.d-flex .cards:nth-child(2) .card {
  background: #1b2191;
}
.d-flex .cards:nth-child(3) .card {
  background: #d823ee;
}

@media only screen and (max-width: 768px) {
  /* .container-fluid {
    min-height: 144vh;
  } */
  .d-flex {
    flex-direction: column;
    position: relative;
    margin: 5rem 0 16rem 0;
  }
  .card {
    padding: 1rem;
    border-radius: 10px;
    border: none;
  }
  .cards {
    padding: 0;
    border-radius: 3px;
    border: none;
    background: transparent;
    box-shadow: none;
    margin-bottom: 1rem;
    width: 90%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1000px) {
  .cards {
    margin-bottom: 2rem;
  }
  .d-flex {
    top: initial;
  }
  /* .container-fluid {
    min-height: 144vh;
  } */
}